{% extends "index.html" %} 

{% block title %}Contac{% endblock %}

{% block content %}

   <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/static/img/profile.png" alt="">
                    <div class="intro-text">
                        <h1 class="name"></h1>
                        <hr class="star-light">
                        <span class="skills">If you like what you see then get in touch...</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <br/>
                    <h4>omerfarook37@gmail.com</h4>
                    <hr class="star-primary">
                </div>      
            </div>
     </section>
      
{% endblock%}

